/*
we are converting the tags so that the UI works/looks fine when rendered RTL.
for that purpose this file is written for RTL conversion and tags/plugins only, 
this file will contain css related to RTL conversion of tags/plugins only. 
if you want to write some css which is not related to RTL conversion write it somewhere else.

DATED: 6 Jan 2016 04:18PM (GMT+5:30)

*/

html,body{
	direction:rtl;
}
	   

/*radio tag and checkbox tag*/

label div.uni-radio,
label div.uni-checker, div.uni-radio
{
	display:inline;
	float:right;
}

/* radio tag and checkbox tag*/



/* datepicker.tag*/

.form-group .input-group.input-group input {
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0px 3px 3px 0px;
}

.form-group div.datepicker_div span[id*='_span']{
    border-radius: 3px 0px 0px 3px !important;
	height:18px;
}

.datepicker td span{
	padding-right: 5px;
	float:right;
}

.form-group.date-picker .datepicker_div input{
	margin-bottom:0px;
}

.form-group.date-picker .datepicker_div span i.glyphicon glyphicon-th{
	display:block;
	margin-top:1px;
}


.datepicker:before
{
	right:6px !important;
	left:auto !important;
}
.datepicker:after
{
	right:6px !important;
	left:auto !important;
	
}
/* datepicker.tag*/


/* address_withoutMap*/

 .row small{
 	font-size:85%;
 }

/* address_withoutMap*/


/*chosen select tag*/

.chosen-container-single-nosearch .chosen-search input {
  position: absolute;
  left: 9000px;
}

.chosen-rtl .chosen-single { 
	padding: 0 0px 0 0; 
}

.collapse.in.fully {
    overflow: visible;
}

/*chosen select tag*/


/*money tag*/

 .input-group.input-group.money-ctrl>select {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius:0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    float:right;
}

.input-group.input-group.money-ctrl>.amount {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;;
    border-radius: 5px 0 0 5px;
    border-right:0 none;
    border-left:solid 1px rgb(204, 204, 204);
}

.input-group.input-group.money-ctrl{
	white-space:nowrap;
}

.input-group.input-group.money-ctrl.form-group.success>input, .form-group.success>select {
    color: #468847;
    border-color: #468847
}
 
.input-group.input-group.money-ctrl>input:focus{
	border-color:rgba(82,168,236,0.8);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	outline:0;
	outline:thin dotted \9
}

/*money tag*/



/*phone tag*/

.phone_tag_top {
	float:none;
}

.phone_tag_top .phone-ctrl-group .chosen-container-single .chosen-single, 
.phone_tag_top .phone-ctrl-group .chosen-container-single.chosen-container-active {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    height: 26px;
 }

.phone_tag_top .phone-ctrl-group .chosen-container{
	float:right;
}

.phone-ctrl-group.input-group.input-group input.ph-ext{
	border-radius: 4px 0 0 4px;
	border-left:solid 1px rgb(204, 204, 204);
}

.phone-ctrl-group.input-group.input-group span input.mask_phone{
	border-radius: 5px 0 0 5px;
	border-left:solid 1px rgb(204, 204, 204);
}

.input-group.input-group .mobile-phn-container>input,
.input-group.input-group span input {
    border-left:solid 1px rgb(204, 204, 204);
}

.phone-ctrl-group.input-group.input-group .mobile-phn-container>input:focus,
.phone-ctrl-group.input-group.input-group span input:focus{
	border-color:rgba(82,168,236,0.8);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	outline:0;
	outline:thin dotted \9
}

.form-group.success.phone-ctrl-group.input-group.input-group .mobile-phn-container>input,
.form-group.success.phone-ctrl-group.input-group.input-group span input{
	color: #468847;
    border-color: #468847;
}

.phone-ctrl-group.input-group.input-group .popover-content{
	font-size:13px;
}
    
/*phone tag*/


/*table tag*/

.dataTables_wrapper .dataTables_filter{
	float:right;
	margin:5px 5px 0px 0px;
}

.dataTables_wrapper .dataTables_length{
	float:left;
}

.dataTables_wrapper .dataTables_filter input{
	display:inline-block;
}

.dataTables_wrapper button.ColVis_Button{
	float:left;
	margin:5px 0px 0px 5px;
}

.dataTables_wrapper .dataTables_length label{
	padding:0px 0px 0px 30px;
	float:none;
	display: inline-flex;
}

button.ColVis_Button.TableTools_Button{
	text-align:right;
}

.dataTables_wrapper .dataTables_info{
	float:right;
}

.dataTables_wrapper .dataTables_paginate{
	float:left;
}

.dataTables_wrapper div.DTTT_container{
	float:left;
	border-left: 1px solid #999999;
    padding-left: 5px;
    border-right:none;
    padding-right:0px;
}

.dataTables_wrapper .sorting { 
	/* background: url('../../../jquery/datatable/images/sort_both.png') no-repeat center left; */ 
}
.dataTables_wrapper .sorting_asc { 
	background: url('../../../jquery/datatable/images/sort_asc.png') no-repeat center left; 
}
.dataTables_wrapper .sorting_desc { 
	background: url('../../../jquery/datatable/images/sort_desc.png') no-repeat center left; 
}

.dataTables_wrapper .sorting_asc_disabled { 
	background: url('../../../jquery/datatable/images/sort_asc_disabled.png') no-repeat center left; 
}
.dataTables_wrapper .sorting_desc_disabled { 
	background: url('../../../jquery/datatable/images/sort_desc_disabled.png') no-repeat center left; 
}

.dataTables_wrapper .paginate_disabled_previous,
.dataTables_wrapper .paginate_enabled_previous {
	padding-right: 23px;
	padding-left:0px;
}
.dataTables_wrapper .paginate_disabled_next,
.dataTables_wrapper .paginate_enabled_next {
	padding-left: 23px;
	padding-right:0px;
	margin-right: 10px;
	margin-left:0px;
}

.dataTables_wrapper .paginate_enabled_previous { 
	float:right;
	background: url('../../../jquery/datatable/images/forward_enabled.png') no-repeat top right;
}
.dataTables_wrapper .paginate_enabled_previous:hover { 
	float:right;
	background: url('../../../jquery/datatable/images/forward_enabled_hover.png') no-repeat top right; 
}
.dataTables_wrapper .paginate_disabled_previous { 
	float:right;
	background: url('../../../jquery/datatable/images/forward_disabled.png') no-repeat top right;
}

.dataTables_wrapper .paginate_enabled_next { 
	float:right;
	background: url('../../../jquery/datatable/images/back_enabled.png') no-repeat top left; 
	 
}
.dataTables_wrapper .paginate_enabled_next:hover { 
	float:right;
	background: url('../../../jquery/datatable/images/back_enabled_hover.png') no-repeat top left;
	 
}
.dataTables_wrapper .paginate_disabled_next {
	float:right;
	background: url('../../../jquery/datatable/images/back_disabled.png') no-repeat top left; 
	 
}

.dataTables_wrapper div.DTTT_container a{
	float:right;
}

/*table tag*/

/*multiselectbox*/
.multiselectBox-container .ms-container .ms-selectable{
	float:right;
}

.multiselectBox-container .ms-container .ms-selection{
	float:left;
}

/*multiselectbox*/


/*multiselect*/

.chosen-container-multi .chosen-choices .search-choice{
	float:right;
	padding: 3px 5px 3px 20px;
	margin: 3px 5px 3px 0px;
}

.form-group .chosen-container-multi .chosen-choices .search-choice .search-choice-close{
	position:absolute;
	left:3px;
	right : auto;
}

/*multiselect*/


/*credit card*/

.credit-card-tag .card h1.logo{
	float:left;
	margin:-38px 0 0 21px;
}



.credit-card-tag .card .content .code-end{
	float:left;
	margin:-30px 0 0 144px;
}

.credit-card-tag .card .content .valid-from,
.credit-card-tag .card .content .valid-from-mini{
		float:right;
}

.credit-card-tag .card .content .valid-to, 
.credit-card-tag .card .content .valid-to-mini{
	float:left;
}

.credit-card-tag .card .content .valid-to{
	margin:-15px 0 0 185px;
}

.credit-card-tag .card .content .card-meta div.tiny-meta>span{
	float:left;
}

.credit-card-tag .card .content .card-meta .float-l{
	float:right !important;  
}

.credit-card-tag .card .content .card-meta .float-r{
	float:left !important;  
}

.credit-card-tag .card .content .card-meta .p-l20{
	padding-right:20px; 
}

/*credit card*/


/*tattimeer*/

.tat_display .tat_desc_up {
	margin-right: 40%;
	font-size: 12px;
}

/*tattimeer*/


/*email tag*/

.form-group.email-ctrl-group.input-group>input{
	border-radius:0px 3px 3px 0px;
}

.form-group.email-ctrl-group.input-group .btn{
	border-radius:3px 0px 0px 3px;
}

/*email tag*/

/*userselect*/

.glyphicon glyphicon-filter {
    background-position: -408px -144px;
}

.multiselect-container i{
	display:block;
	top:1px;
}
.multiselect-container .input-group .add-on{
	vertical-align: top;
	border-radius: 0 3px 3px 0;
}
.multiselect-container .input-group .multiselect-search{
	border-radius:3px 0px 0px 3px;
}
.multiselect-container ul li input{
	display:inline-block;
}
/*userselect*/

/*regional datepicker*/

.calendars-trigger i.glyphicon glyphicon-th{
	display:block;
	margin-top:1px;
}
.input-group.input-group .input-group-addon.calendars-trigger{
	border-radius: 3px 0px 0px 3px !important;
	height:18px !important;
}

.calendars-month-header .calendars-month-year{
	font-size:11px;
}

.calendars-nav a.calendars-cmd-next{
	float: left;
    text-align: left;
}

.calendars-nav a.calendars-cmd-prev,
.calendars-nav a.calendars-cmd-today{
	float:right;
}
/*regional datepicker*/

/*task widget*/

body .glyphicon glyphicon-filter {
    background-position: -408px -144px;
}

body .card-red {
    border-right: 5px solid #CC0000;
    border-left:none;
}
body .container .child{
       float:right;
}
body .card-body>div>strong,
body .card-body>a>strong{
       float:right;
}


/*task widget*/

/*-----------------PLUGINS---------------------*/

/*Modal*/



.modal-scrollable .modal.container {
    margin-left: -470px
}

@media(min-width:1200px) {
    .modal-scrollable .modal.container {
        margin-right: -585px
    }
}


/*Modal*/

/*-----------------PLUGINS---------------------*/

/* For Adv search */
.adv_search {
    background-color: #fff;
    float: left;
    margin: 5px 30px 5px 5px !important;
    padding: 3px !important;
}

/* For inputs*/
input{
	    direction: rtl;
}

div[id^='colvis_'] {
    float: left;
}

.table-export-wrapper{
	float: left;
}

div[id^='uniform-'].radio {
    float: right;
}