.reassignDropDownOpen:before { position: fixed; left: 0; top: 0; background: rgba(255, 255, 255, 0.5); width: 100%; height: 100%; content: ""; z-index: 9; }
.AppGridContainer { width: 100%; display: block; border: 1px solid #e5e5e5; margin-top: 10px; }
.AppGridContainer .appGridActionBar { width: 100%; display: block; border-bottom: 1px solid #e5e5e5; padding: 11px 12px; margin-bottom: 1px; }
.AppGridContainer .appGridActionBar .gridActionList { margin: 0; padding: 0; float: left; }
.AppGridContainer .appGridActionBar .gridActionList > li { list-style: none; float: left; margin-right: 18px; position: relative; padding: 5px 0 0 0; }
.AppGridContainer .appGridActionBar .gridActionList > li.enableSeprator{ padding-right: 18px; border-right: 1px solid #e5e5e5; }
.AppGridContainer .appGridActionBar .gridActionList > li:last-child { margin-right: 0; }
.AppGridContainer .appGridActionBar .gridActionList > li a { color: #666; font-size: 12px; position: relative; text-decoration: none; padding: 0 0 0 25px; transition: all 0.3s; }
.AppGridContainer .appGridActionBar .gridActionList > li a.active {color:#2cc12b}
.AppGridContainer .appGridActionBar .gridActionList > li a.loadsearchIco,
.AppGridContainer .appGridActionBar .gridActionList > li a.savesearchIco { padding: 0 15px 0 30px; }
.AppGridContainer .appGridActionBar .gridActionList > li a.loadsearchIco:after,
.AppGridContainer .appGridActionBar .gridActionList > li a.savesearchIco:after { content: "\e913"; font-family: 'neoicon'; position: absolute; right: 0; font-size: 7px; top: 3px; color: #888; }
.AppGridContainer .appGridActionBar .gridActionList > li a.filterIco { padding-right: 15px; }
.AppGridContainer .appGridActionBar .gridActionList > li a.filterIco:after { content: "\e913"; font-family: 'neoicon'; position: absolute; right: 0; font-size: 7px; top: 3px; color: #888; }
.AppGridContainer .appGridActionBar .gridActionList > li a.exportIco { padding-right: 15px; }
.AppGridContainer .appGridActionBar .gridActionList > li a.exportIco:after { content: "\e913"; font-family: 'neoicon'; position: absolute; right: 0; font-size: 7px; top: 3px; color: #888; }

.AppGridContainer .appGridActionBar .gridActionList > li.showTasktextLi{ padding: 0; }
.AppGridContainer .appGridActionBar .gridActionList > li.showTasktextLi .showTasktext { float: left; font-size: 12px; color: #888; line-height: 28px; margin-right: 6px; }
.AppGridContainer .appGridActionBar .gridActionList > li.showTasktextLi a { padding: 0px 0; border: 1px solid #afafaf; display: inline-block; width: 50px; text-align: center; vertical-align: middle; font-size: 12px; color: #afafaf; height: 28px; float: left; border-right: none; line-height: 28px; }
.AppGridContainer .appGridActionBar .gridActionList > li.showTasktextLi a.allTask{ border-radius: 4px 0 0 4px; }
.AppGridContainer .appGridActionBar .gridActionList > li.showTasktextLi a:last-child{ border-radius: 0 4px 4px 0;  border-right: 1px solid #afafaf;}
.AppGridContainer .appGridActionBar .gridActionList > li.showTasktextLi a.active { background: #f7f7f7; color: #333; }


.AppGridContainer .appGridActionBar .gridActionList > li a:hover,
.AppGridContainer .appGridActionBar .gridActionList > li a:hover i{ color: #000; }
.AppGridContainer .appGridActionBar .gridActionList > li a.active,
.AppGridContainer .appGridActionBar .gridActionList > li a.active i {color:#2cc12b;}
.AppGridContainer .appGridActionBar .gridActionList > li a i { position: absolute; left: 0; top: -6px; font-size: 22px; color: #888; }
.AppGridContainer .appGridActionBar .gridActionList > li a.filterIco i { font-size: 20px; top: -4px; }
.AppGridContainer .appGridActionBar .gridActionList > li a.copyclipboardIco i { font-size: 20px; top: -4px; }
.AppGridContainer .appGridActionBar .gridActionList > li a.exportIco i { font-size: 21px; }


.AppGridContainer .appGridActionBar .gridActionList > li a.tasksIco:hover i:before,.AppGridContainer .appGridActionBar .gridActionList > li a.tasksIco.active i:before{ content: "\e905"; font-family: 'neoicon';}
.AppGridContainer .appGridActionBar .gridActionList > li a.filterIco:hover i:before,.AppGridContainer .appGridActionBar .gridActionList > li a.filterIco.active i:before{ content: "\e902"; font-family: 'neoicon';}
.AppGridContainer .appGridActionBar .gridActionList > li a.copyclipboardIco:hover i:before,.AppGridContainer .appGridActionBar .gridActionList > li a.copyclipboardIco.active i:before{ content: "\e900"; font-family: 'neoicon';}
.AppGridContainer .appGridActionBar .gridActionList > li a.exportIco:hover i:before,.AppGridContainer .appGridActionBar .gridActionList > li a.exportIco.active i:before{ content: "\e901"; font-family: 'neoicon';}
.AppGridContainer .appGridActionBar .gridActionList > li a.loadsearchIco:hover i:before,.AppGridContainer .appGridActionBar .gridActionList > li a.loadsearchIco.active i:before{ content: "\e903"; font-family: 'neoicon';}
.AppGridContainer .appGridActionBar .gridActionList > li a.savesearchIco:hover i:before,.AppGridContainer .appGridActionBar .gridActionList > li a.savesearchIco.active i:before{ content: "\e904"; font-family: 'neoicon';}
.AppGridContainer .appGridActionBar .gridActionList > li a.filterIco i.fillIco:before{ content: "\e902"; font-family: 'neoicon';}

.AppGridContainer .appGridActionBar .gridActionList > li .exportList { position: absolute; border: 1px solid #dcdcdc; margin: 0; padding: 0; z-index: 99; width: 130px; background: #fff; border-radius: 4px; right: -8px; box-shadow: 1px 2px 9px -2px rgba(0, 0, 0, 0.5); top: 38px; }
.AppGridContainer .appGridActionBar .gridActionList > li .exportList:after { content: ""; background: url(../image/box-arrow.png) 0 0 no-repeat; width: 17px; height: 11px; position: absolute; right: 21px; top: -11px; }
.AppGridContainer .appGridActionBar .gridActionList > li .exportList li { list-style: none; margin: 0; padding: 0; }
.AppGridContainer .appGridActionBar .gridActionList > li .exportList li a { display: block; padding: 5px 10px; color: #888; transition: all 0.3s; }
.AppGridContainer .appGridActionBar .gridActionList > li .exportList li a:hover { color: #000; }


.AppGridContainer .appGridActionBar .gridActionList > li .saveSearchModal { position: absolute; left: -31px; top: 38px; background: #fff; border: 1px solid #dcdcdc; width: 271px; border-radius: 4px; z-index: 99; box-shadow: 1px 2px 9px -2px rgba(0, 0, 0, 0.5); padding: 15px; }
.AppGridContainer .appGridActionBar .gridActionList > li .saveSearchModal:after { content: ""; background: url(../image/box-arrow.png) 0 0 no-repeat; width: 17px; height: 11px; position: absolute; left: 55px; top: -11px; }
.AppGridContainer .appGridActionBar .gridActionList > li .saveSearchModal .savelabel{ font-size: 12px; color: #888; text-transform: capitalize; }
.AppGridContainer .appGridActionBar .gridActionList > li .saveSearchModal .inputBox{ width: 100%; display: block; }
.AppGridContainer .appGridActionBar .gridActionList > li .saveSearchModal .inputBox .saveSearchText { font-weight: normal; font-size: 13px; box-shadow: none; width: 100%; border: 1px solid #e5e5e5; border-radius: 2px; }
.AppGridContainer .appGridActionBar .gridActionList > li .saveSearchModal .saveSearchHint { margin: 10px 0 25px 0; line-height: 15px; font-size: 12px; color: #888; font-style: italic; }
.AppGridContainer .appGridActionBar .gridActionList > li .saveSearchModal .saveSearchBtn { display: block; float: right; color: #337ab7; border: 1px solid #337ab7; padding: 5px 15px; border-radius: 2px; transition: all 0.3s; }
.AppGridContainer .appGridActionBar .gridActionList > li .saveSearchModal .saveSearchBtn:hover { color: #fff; background-color: #337ab7; }

.AppGridContainer .appGridActionBar .gridActionList > li .loadSearchModalData { position: absolute; left: -35px; top: 38px; background: #fff; border: 1px solid #dcdcdc; width: 235px; border-radius: 4px; z-index: 99; box-shadow: 1px 2px 9px -2px rgba(0, 0, 0, 0.5); }
.AppGridContainer .appGridActionBar .gridActionList > li .loadSearchModalData:after { content: ""; background: url(../image/box-arrow.png) 0 0 no-repeat; width: 17px; height: 11px; position: absolute; left: 50px; top: -11px; }
.AppGridContainer .appGridActionBar .gridActionList > li .loadSearchModalData ul { margin: 0; padding: 0; max-height: 316px; overflow: auto; }
.AppGridContainer .appGridActionBar .gridActionList > li .loadSearchModalData ul li { list-style: none; margin: 0; padding: 0; display: block; }
.AppGridContainer .appGridActionBar .gridActionList > li .loadSearchModalData ul li a { padding: 6px 15px; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #333; font-size: 13px; display: block; transition: all 0.3s; }
.AppGridContainer .appGridActionBar .gridActionList > li .loadSearchModalData ul li a:hover { background: #f5f5f5; }

.AppGridContainer .appGridActionBar .gridActionList > li .filterByColorDropDown { position: absolute; left: -35px; top: 38px; background: #fff; border: 1px solid #dcdcdc; width: 235px; border-radius: 4px; z-index: 99; box-shadow: 1px 2px 9px -2px rgba(0, 0, 0, 0.5); }
.AppGridContainer .appGridActionBar .gridActionList > li .filterByColorDropDown:after { content: ""; background: url(../image/box-arrow.png) 0 0 no-repeat; width: 17px; height: 11px; position: absolute; left: 50px; top: -11px; }
.AppGridContainer .appGridActionBar .gridActionList > li .filterByColorDropDown ul { margin: 0; padding: 0; max-height: 316px; overflow: auto; }
.AppGridContainer .appGridActionBar .gridActionList > li .filterByColorDropDown ul li { list-style: none; margin: 0; padding: 0; display: block; }
.AppGridContainer .appGridActionBar .gridActionList > li .filterByColorDropDown ul li a { padding: 6px 15px 6px 28px; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #333; font-size: 13px; display: block; transition: all 0.3s; position: relative; }
.AppGridContainer .appGridActionBar .gridActionList > li .filterByColorDropDown ul li a span { position: absolute; left: 15px; top: 10px; width: 7px; height: 7px; border: 1px solid rgba(0, 0, 0, 0.4); border-radius: 50%; }
.AppGridContainer .appGridActionBar .gridActionList > li .filterByColorDropDown ul li a:hover { background: #f5f5f5; }

.AppGridContainer .appGridActionBar .commonActions { margin: 0; padding: 0; float: left; }
.AppGridContainer .appGridActionBar .commonActions > li { list-style: none; float: left; margin-right: 18px;  position: relative;}
.AppGridContainer .appGridActionBar .commonActions > li > a { color: #666; font-size: 12px; position: relative; text-decoration: none; padding: 0 0 0 25px; transition: all 0.3s; }
.AppGridContainer .appGridActionBar .commonActions > li > a.ReassignIco,.AppGridContainer .appGridActionBar .commonActions > li > a.ReassignForUserIco { padding-right: 15px; }
.AppGridContainer .appGridActionBar .commonActions > li > a.ReassignIco:after,.AppGridContainer .appGridActionBar .commonActions > li > a.ReassignForUserIco:after { content: "\e913"; font-family: 'neoicon'; position: absolute; right: 0; font-size: 7px; top: 3px; color: #888; }
.AppGridContainer .appGridActionBar .commonActions > li a i { position: absolute; left: 0; top: -6px; font-size: 22px; color: #888; }
.AppGridContainer .appGridActionBar .commonActions > li a i.neoicon-temp-assign,
.AppGridContainer .appGridActionBar .commonActions > li a i.neoicon-assign-me { position: absolute; left: 0; top: -7px; font-size: 24px; color: #888; }

.AppGridContainer .appGridActionBar .prefrenceAction { float: right; position: relative; padding-top: 6px; }
.AppGridContainer .appGridActionBar .prefrenceAction > a{ color: #666; font-size: 12px; position: relative; text-decoration: none; padding: 0 0 0 30px; transition: all 0.3s; }
.AppGridContainer .appGridActionBar .prefrenceAction > a:hover,.AppGridContainer .appGridActionBar .prefrenceAction > a.opened{ color: #000; }
.AppGridContainer .appGridActionBar .prefrenceAction > a i { position: absolute; left: 0; top: -4px; font-size: 18px; color: #888; }
.AppGridContainer .appGridActionBar .prefrenceAction > a:hover i,.AppGridContainer .appGridActionBar .prefrenceAction > a.opened i{ color: #000;}

.AppGridContainer .appGridActionBar .prefrenceAction .showhidepreference { position: absolute; right: -13px; top: 38px; background: #fff; border: 1px solid #dcdcdc; width: 366px; border-radius: 4px; z-index: 99; box-shadow: 1px 2px 9px -2px rgba(0, 0, 0, 0.5); }
.AppGridContainer .appGridActionBar .prefrenceAction .showhidepreference ul { margin: 0; padding: 0; max-height: 316px; overflow: auto; }
.AppGridContainer .appGridActionBar .prefrenceAction .showhidepreference:after { content: ""; background: url(../image/box-arrow.png) 0 0 no-repeat; width: 17px; height: 11px; position: absolute; right: 21px; top: -11px; }
.AppGridContainer .appGridActionBar .prefrenceAction .showhidepreference ul.userPrefCheckBoxList li{ list-style: none; margin: 0; padding: 7px; float: left; width: 50%; }
.AppGridContainer .appGridActionBar .prefrenceAction .showhidepreference .customCheckbox { position: relative; vertical-align: middle; display: block; color: #555; }
.AppGridContainer .appGridActionBar .prefrenceAction .showhidepreference .userPrefCheckButtons { padding: 10px; text-align: right; border-top: 1px solid #dcdcdc; }

.AppGridContainer .customCheckbox input[type="checkbox"] { float: left; position: absolute; width: 16px; height: 16px; overflow: hidden; margin: 0; padding: 0; border: 0; outline: 0; opacity: 0; cursor: pointer; z-index: 9; left: 0; top: 0; }
.AppGridContainer .customCheckbox input[type="checkbox"]+label { margin-right: 0; margin-bottom: 0; }
.AppGridContainer .customCheckbox input[type="checkbox"]+label:before { display: inline-block; width: 16px; height: 16px; background: url(../image/checkbox.png) 0 0 no-repeat; content: " "; vertical-align: middle; margin-right: 5px; }
.AppGridContainer .customCheckbox input[type="checkbox"]:checked+label:before { background-position: 0 -18px; }
.AppGridContainer .customCheckbox input[type="checkbox"] { *position: relative; margin: 0; *margin: -5px 0 0 0 }

.AppGridContainer .userListAction { position: fixed; z-index: 99; border: 1px solid #dcdcdc; width: 250px; background: #fff; border-radius: 4px; box-shadow: 1px 2px 9px -2px rgba(0, 0, 0, 0.5); }
.AppGridContainer .userListAction:after { content: ""; background: url(../image/box-arrow-right.png) 0 0 no-repeat; width: 9px; height: 15px; position: absolute; right: -9px; top: 53px; }
.AppGridContainer .userListAction .userListtextBox { width: 100%; padding: 12px; background: #f5f5f5; }
.AppGridContainer .userListAction .userListtextBox #userListtextBox{ width: 100%; height: 35px; padding:0 12px; background: none; border:1px solid #dcdcdc; border-radius: 3px; background: #fff; }
.AppGridContainer .userListAction ul { margin: 0; padding: 0; overflow: auto; width: 100%; height: 150px; }
.AppGridContainer .userListAction ul li { list-style: none; margin: 0; padding: 0; }
.AppGridContainer .userListAction ul li a { padding: 7px 15px; display: block; color: #888; text-decoration: none; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.AppGridContainer .commonActions .userListAction { position: absolute; left: 0px !important; top: 32px !important; }
.AppGridContainer .commonActions .userListAction:after { content: ""; background: url(../image/box-arrow.png) 0 0 no-repeat; width: 17px; height: 11px; position: absolute; right: auto; top: -11px; left: 12px; }

.AppGridContainer.newDatatableGrid div.dataTables_wrapper div.dataTables_info{ margin-left:124px;}
.AppGridContainer.newDatatableGrid .dataTables_wrapper .dataTables_length { position: absolute; left: 12px; top: 7px; margin: 0; }
.AppGridContainer.newDatatableGrid .dataTables_wrapper .dataTables_length:after { position: absolute; right: -10px; top: 0; width: 1px; height: 30px; content: ""; background: #ddd; }
.AppGridContainer.newDatatableGrid table.dataTable tbody td{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.cas_newModal { width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 9999; background: rgba(0, 0, 0, 0.5); }
.cas_newModal .cas_newModalContainer { width: 80%; max-height: 80%; background: #fff; position: absolute; left: 0; top: 50%; transform: translateY(-50%); z-index: 999; border-radius: 5px; right: 0; margin: auto; padding: 20px; }
.cas_newModal .cas_newModalHeading h3 { margin: 0; padding: 0; font-size: 18px; font-weight: 300 !important; padding-bottom: 15px; border-bottom: 1px solid #dcdcdc; font-family: "Helvetica", 'Arial', avenir, sans-serif; }
.cas_newModal .cas_newModalContent { min-height: 120px; padding: 20px 0; }
.cas_newModal .cas_newModalFooter { text-align: right; font-size: 0; }
.cas_newModal .cas_newModalFooter > .btn { margin-left: 10px; min-width: 105px; padding: 9px 10px; font-size: 14px; }

.cas_newModal.reason-form-reassign .cas_newModalContainer { max-width: 420px; }
.cas_newModal.reason-form-reassign .reasonselectBox { width: 100%; height: 40px; }
.cas_newModal.reason-form-reassign .btn-outline-primary{ color: #286090; border:1px solid #286090; background: none; }
.cas_newModal.reason-form-reassign .btn-outline-primary:hover{ color: #fff; border:1px solid #286090; background:#286090; }

.cas_newModal.viewHoldModalDetails .cas_newModalContainer { max-width: 420px; }

/* override style */
#neutrino-body{ margin-bottom: 0; }
#neutrino-main-content{ padding-bottom: 0; }

.AppGridContainer.newDatatableGrid table.dataTable{ border-top: none; table-layout: fixed;  }
.AppGridContainer.newDatatableGrid .dataTables_wrapper .dataTables_paginate{ margin: 0; }
.AppGridContainer.newDatatableGrid table.dataTable td:last-child,
.AppGridContainer.newDatatableGrid table.dataTable th:last-child{ max-width: 70px; min-width: 70px; }
.AppGridContainer.newDatatableGrid .DTFC_LeftWrapper table.dataTable td:last-child,
.AppGridContainer.newDatatableGrid .DTFC_LeftWrapper table.dataTable th:last-child{ max-width: 130px; min-width: 130px; }
.AppGridContainer.newDatatableGrid table.dataTable td,
.AppGridContainer.newDatatableGrid table.dataTable th{ min-width: 130px; max-width: 130px; position: relative; border-right: none;}
.newDatatableGrid.AppGridContainer table.dataTable tbody td .gridRowColor { width: 7px; height: 7px; display: inline-block; vertical-align: middle; border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.34); position: absolute; top: 17px; right: 7px; }

.AppGridContainer.newDatatableGrid table.dataTable td .inQueueValueInfo {
    position: fixed;
    border: 1px solid #dcdcdc;
    margin: 0;
    padding: 0;
    z-index: 99;
    width: 150px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 9px -2px rgba(0, 0, 0, 0.5);
}

.AppGridContainer.newDatatableGrid table.dataTable td .inQueueValueInfo li {
    list-style: none;
    margin: 0;
    padding: 10px;
    font-size: 14px;
}
.AppGridContainer.newDatatableGrid table.dataTable td .inQueueValueInfo li .inText {
    float: left;
    color: #888;
    font-size: 13px;
    font-weight: 600;
}
.AppGridContainer.newDatatableGrid table.dataTable td .inQueueValueInfo li .inValue {
    float: right;
    color: #333;
}